.primary-hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 35em) {
    .primary-hero {
      flex-direction: column;
      gap: 2.5rem; } }
  @media (min-width: 561px) and (max-width: 850px) {
    .primary-hero {
      flex-direction: column;
      gap: 2.5rem; } }
  @media (min-width: 800px) {
    .primary-hero {
      min-height: 500px; } }
  .primary-hero .hero-space {
    width: 40%; }
    @media (max-width: 35em) {
      .primary-hero .hero-space {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        margin-bottom: 1rem; } }
    @media (min-width: 561px) and (max-width: 850px) {
      .primary-hero .hero-space {
        width: 80%;
        text-align: center;
        padding: .95rem 0; } }
    .primary-hero .hero-space p:first-child {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 2rem; }
      @media (max-width: 35em) {
        .primary-hero .hero-space p:first-child {
          display: none; } }
    .primary-hero .hero-space p {
      font-family: "Barlow", sans-serif;
      margin: 0;
      line-height: 2rem;
      font-size: 1.1rem;
      color: #D0D6F9;
      font-weight: 300; }
      @media (max-width: 35em) {
        .primary-hero .hero-space p {
          font-size: .95rem;
          padding: 0 3rem; } }
      @media (min-width: 561px) and (max-width: 850px) {
        .primary-hero .hero-space p {
          font-size: .95rem;
          padding: 0 3rem; } }
    .primary-hero .hero-space h1 {
      margin: 0;
      font-family: "Bellefair", serif;
      font-weight: 400;
      font-size: 150px;
      text-transform: uppercase; }
      @media (max-width: 35em) {
        .primary-hero .hero-space h1 {
          font-size: 80px;
          margin-bottom: 1rem; } }
      @media (min-width: 561px) and (max-width: 850px) {
        .primary-hero .hero-space h1 {
          font-size: 80px;
          margin-bottom: 1rem; } }

/*Index.html header styles*/
.primary-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 999px) {
    .primary-header {
      margin-bottom: 2rem; } }
  .primary-header .logo {
    margin: 1rem; }
  .primary-header .menu-btn {
    display: none; }
  .primary-header .primary-nav {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5rem); }
    .primary-header .primary-nav li {
      margin: 1rem;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      text-transform: uppercase; }
      .primary-header .primary-nav li a:hover {
        border-bottom: 1px solid white;
        transition: 1s ease-in-out; }
      .primary-header .primary-nav li a span {
        font-weight: bold;
        margin-inline-end: .5rem; }
  .primary-header .primary-nav[data-visible="true"] {
    transform: translateX(0%); }
  @media (max-width: 35em) {
    .primary-header .primary-nav {
      gap: 2em;
      position: fixed;
      inset: 0 0 0 30%;
      z-index: 1000;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      transform: translateX(100%);
      transition: transform 350ms ease-out; }
    .primary-header .menu-btn {
      display: block;
      position: absolute;
      z-index: 9999;
      background-color: transparent;
      background: url("/starter-code/assets/shared/icon-hamburger.svg");
      background-repeat: no-repeat;
      width: 2rem;
      border: 0;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem; }
    .primary-header .menu-btn[aria-expanded="true"] {
      background: url("/starter-code/assets/shared/icon-close.svg");
      background-repeat: no-repeat; } }
  @media (min-width: 35em) and (max-width: 55em) {
    .primary-header .primary-nav a > span[aria-hidden] {
      display: none; } }
  @media (min-width: 35em) {
    .primary-header .primary-nav {
      margin-top: 10px;
      padding-block: 1.2rem;
      padding-inline: clamp(3rem, 8vh, 10rem); } }

.explore-cont {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  display: flex;
  z-index: 222;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative; }
  .explore-cont::after {
    content: "";
    position: absolute;
    top: 0;
    width: 250px;
    height: 250px;
    z-index: 1;
    animation: crecer 4s infinite;
    border-radius: 50%;
    background-color: #fff; }
    @media (max-width: 35em) {
      .explore-cont::after {
        display: none; } }
    @media (min-width: 560px) and (max-width: 1000px) {
      .explore-cont::after {
        display: none; } }
  @media (min-width: 560px) and (max-width: 1000px) {
    .explore-cont {
      width: 200px;
      height: 200px; }
      .explore-cont:hover {
        transition: .5s ease;
        transform: scale(1.3);
        opacity: .4; } }
  .explore-cont .explore {
    color: #111;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 999; }
    @media (max-width: 35em) {
      .explore-cont .explore {
        font-size: 1.5rem; } }

@keyframes crecer {
  0% {
    width: 250px; }
  50% {
    transition: .5s ease;
    transform: scale(1.3);
    opacity: .2; }
  100% {
    width: 250px; } }
* {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    color: inherit; }
  body li {
    list-style: none; }
  @media (max-width: 560px) {
    body {
      background: url("/starter-code/assets/home/background-home-mobile.jpg") no-repeat center/cover;
      overflow-x: hidden;
      min-height: 110vh; } }

.sr-only {
  display: none; }

/*# sourceMappingURL=style.css.map */
