@import "variables";
.hero-moon {
    width:40%;
    text-align: center;
    @media (max-width: 35em) {
        width: 100%;
        padding: 2rem 0;
        margin-bottom: 1rem;
    }
    @media (min-width: 561px)and (max-width:850px) {
        width: 100%;
        padding: .95rem 0;
    }
    @media (min-width: 850px)and (max-width:1000px) {
        width: 60%;
        padding: .95rem 0;
    }
   
   
    p {
        font-family: $barlow;
        margin: 0;
        line-height: 2rem;
        font-size: 1rem;
        color: #D0D6F9;
        font-weight: 300;
        @media (max-width: 35em) {
            font-size: .95rem;
            padding: 0 3rem;
        }
        @media (min-width: 561px)and (max-width:850px) {
            font-size: .95rem;
            padding: 0 3rem;

        }

    }
    h1  {
        margin: 0;
        font-family: $bellefair;
        font-weight: 400;
        font-size: 80px;
        text-transform: uppercase; 
        @media (max-width: 35em) {
            font-size: 80px;
            margin-bottom: 1rem;
        }
        @media (min-width: 561px)and (max-width:850px) {
            font-size: 80px;
                margin-bottom: 1rem;
        }
    }  
    .moon-description {
        text-align: center;
        h1 {
            font-size: 3.5rem;
            margin: 0;
            @media (max-width: 35em) {
                font-size: 2.8rem;
             }
        }
        p {
            font-size: 1rem;
            @media (max-width: 35em) {
                font-size: .8rem;
             }
        }
    }
    
    .container-info {
        display: flex;
        justify-content: space-around;
        margin-top: .5rem;
        p {
            font-size: 1.5rem;
            font-family: $bellefair;
            color: inherit;
            margin-right: .3rem;
            @media (max-width: 35em) {
                font-size: .9rem;
             }
        }
        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            @media (max-width: 35em) {
                flex-direction: column;
            }
        }
    
    }
}

.crew {
    @media (max-width: 35em) {
        padding: 0;
    }
}
.commander {

    p:first-child {
        font-family: $bellefair;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #D0D6F9;
    }
    p:last-child {
        padding: 0 2rem;
    }
        
    }

