@import "primary-hero";
@import "variables";
@import "header";
@import "container-moonbg";
@import "hero-moon";
@import "container-link-pages";
@import "marsBg";
@import "container-europa";
@import "titan";
*{
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
    background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: $barlow;
    overflow-x: hidden;

    a {
        text-decoration: none;
        color: inherit;
    }
    li {
        list-style: none;
    }
    @media (max-width: 560px) {
        background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        min-height: 110vh;

    }

}
hr {
    width:80%;
}
.primary-header{
    margin-bottom: 1rem;
}

.sr-only {
    display: none;
}
